{
  "edit": {
    "command":"nvim"
  },
  "git":{
    "autoAdd": true,
    "autoCommit": true,
    "autoPush": true,
    "commitMessageTemplate": "Update"
  },
  "hooks": {
    "add": {
      "pre": {
        "command": "python3",
        "args": ["{{ .chezmoi.workingTree }}/pre_add.py"]
      }
    }
  }
}
