{
  "edit": {
    "command":"nvim"
  },

  "encryption": "gpg",
  
  "gpg": {
    "recipient": "B47F3113CB56F13EB5414C335ADFEAB69DD0B560"
  },
  
  "git": {
    "autoAdd": true,
    "autoCommit": true,
    "autoPush": true,
    "commitMessageTemplate": "Update"
  }
}
