configuration {
    show-icons: true;
    terminal: "kitty";
    ssh-command: "{terminal} --hold sh -c {ssh-client} {host} [-p {port}]";
    run-shell-command: "{terminal} --hold sh -c {cmd}";
    sort: true;
    auto-select: true;
    timeout {
	action: "kb-cancel";
	delay:  0;
    }
    filebrowser {
	directories-first: true;
	sorting-method: "name";
    }
}

@theme "glue_pro_blue"
